---
http_interactions:
- request:
    method: get
    uri: http://ci.md-5.net/job/spigot/1000/api/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Jenkins:
      - '1.533'
      X-Jenkins-Session:
      - e5616afa
    body:
      encoding: US-ASCII
      string: ! '{"actions":[{"causes":[{"shortDescription":"Started by GitHub push
        by md-5"}]},{},{"buildsByBranchName":{"origin/master":{"buildNumber":1000,"buildResult":null,"revision":{"SHA1":"b9b585c433429807ff4a60b6bf6e1411088a1a21","branch":[{"SHA1":"b9b585c433429807ff4a60b6bf6e1411088a1a21","name":"origin/master"}]}}},"lastBuiltRevision":{"SHA1":"b9b585c433429807ff4a60b6bf6e1411088a1a21","branch":[{"SHA1":"b9b585c433429807ff4a60b6bf6e1411088a1a21","name":"origin/master"}]},"remoteUrls":["https://github.com/EcoCityCraft/Spigot.git"],"scmName":""},{},{},{"failCount":0,"skipCount":0,"totalCount":5152,"urlName":"testReport"},{},{"level":null,"levelValue":0}],"artifacts":[{"displayPath":"spigot-1.6.1-R0.1-SNAPSHOT.jar","fileName":"spigot-1.6.1-R0.1-SNAPSHOT.jar","relativePath":"Spigot-Server/target/spigot-1.6.1-R0.1-SNAPSHOT.jar"},{"displayPath":"spigot.jar","fileName":"spigot.jar","relativePath":"Spigot-Server/target/spigot.jar"}],"building":false,"description":null,"duration":59650,"estimatedDuration":72188,"executor":null,"fullDisplayName":"Spigot
        #1000","id":"2013-07-04_20-43-08","keepLog":false,"number":1000,"result":"SUCCESS","timestamp":1372984988000,"url":"http://ci.md-5.net/job/spigot/1000/","builtOn":"","changeSet":{"items":[{"affectedPaths":["CraftBukkit-Patches/0058-Entity-Mount-and-Dismount-Events.patch"],"commitId":"b9b585c433429807ff4a60b6bf6e1411088a1a21","timestamp":1372985078000,"author":{"absoluteUrl":"http://ci.md-5.net/user/md_5","fullName":"md_5"},"comment":"Prevent
        crash on dismount, thanks Soledge for the report!\n","date":"2013-07-04 20:44:38
        +1000","id":"b9b585c433429807ff4a60b6bf6e1411088a1a21","msg":"Prevent crash
        on dismount, thanks Soledge for the report!","paths":[{"editType":"edit","file":"CraftBukkit-Patches/0058-Entity-Mount-and-Dismount-Events.patch"}]}],"kind":"git"},"culprits":[{"absoluteUrl":"http://ci.md-5.net/user/md_5","fullName":"md_5"}],"mavenArtifacts":null,"mavenVersionUsed":"3.0.4"}'
  recorded_at: Wed, 13 Nov 2013 13:34:29 GMT
recorded_with: VCR 2.7.0
